@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
/* ==========================================================================
Typography
========================================================================== */
p {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279; }

h1 {
  font-size: 65px;
  color: #2d3033; }

h2 {
  font-size: 40px;
  color: #2d3033; }

h3 {
  font-size: 28px;
  color: #2d3033;
  font-weight: 300; }

h4 {
  font-size: 22px;
  color: #2d3033;
  font-weight: 400; }

h5 {
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700; }

.btn {
  color: #fff;
  font-weight: 600;
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase; }
  .btn:hover, .btn:focus {
    color: #fff; }
  .btn-large {
    padding: 15px 40px;
    margin: 0 20px;
  }
/* ==========================================================================
	$Banner
========================================================================== */
.banner {
  background-image: url(../images/banner.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%; }

.banner > .container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -80%);
}

.banner-text {
  padding-top: 25%; }
  .banner-text h1 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
  .banner-text p {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px; }
