<header class="mboezer-drawer-header">
  <img src="../assets/images/icons8-astronaut-80.png" class="mboezer-avatar">
  <div class="mboezer-avatar-dropdown">
    <span>MBoezer.com</span>
  </div>
</header>
<nav class="mboezer-navigation mdl-navigation mdl-color--blue-grey-800">
  <a class="mdl-navigation__link" routerLink="/home"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
  <a class="mdl-navigation__link" routerLink="/p5-sketches"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">work</i>P5 Sketches</a>
  <a class="mdl-navigation__link" routerLink="/tools"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">build</i>Tools</a>
  <a class="mdl-navigation__link" href="http://dbl.mboezer.com"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">visibility</i>NGL Tree</a>

  <a class="mdl-navigation__link" routerLink="/about"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">person</i>About me</a>
  <div class="mdl-layout-spacer"></div>
  <a class="mdl-navigation__link"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
</nav>
